.statistics {
  padding: 5rem 0;
  &__block {
    width: 55%;
    margin: 1rem auto;
    text-align: center;
  }
  &__list {
    list-style: none;
    border: 2px solid $color-grey-light-2;
    margin: 1rem;
    border-radius: 1rem;
    :not(:last-child) {
      border-right: 1px solid $color-grey-light-1;
      @include respond(tab-medium) {
        border-right: none;
      }
    }

  }
  &__item {
    display: inline-block;
    padding: 0rem 8rem;
    margin: 4rem 0;
    font-size: 3rem;
    @include respond(tab-large) {
      padding: 0rem 5rem;
    }
    &--main {
      display: block;
      font-size: 3rem;
      font-weight: 400;
      letter-spacing: .5rem;
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-in;
      border-right: none  !important;
      @include respond(phone) {
        letter-spacing: .3rem;
        font-size: 2rem;
      }

      @include respond(small-phone) {
        letter-spacing: .1rem;
        font-size: 1.5rem;
      }

    }
    &--sub {
      display: block;
      font-size: 1.7rem;
      font-weight: 700;
      letter-spacing: .64rem;
      color: $color-default-blue;
      animation-name: moveInRight;
      animation-duration: 1s;
      animation-timing-function: ease-in;

      @include respond(phone) {
        letter-spacing: .2rem;
        font-size: 1rem;
      }
    }
  }


}
