.demand {
  @include clearfix;

  &__heading {
    padding: 4rem;
  }

  &__button {
    text-align: left;
  }

  &__card {
    margin-bottom: 2rem;
    overflow: hidden;
    margin-top: 3rem;
    width: 35%;
    margin-right: 7.5%;
    margin-left: 7.5% !important;

    @include respond(tab-medium) {
      width: 45%;
      margin-right: 2.5%;
      margin-left: 2.5% !important;
    }

    @include respond(tab-small) {
      width: 80%;
      margin-left: 10% !important;
    }

    box-shadow: rgba(255, 255, 255, 0.5) 0px 5px 25px 0px;

    &--shape {
      float: left;
    }

    &--img {
      height: 22rem;
      width: 22rem;

      @include respond(tab-large) {
        height: 19rem;
        width: 19rem;
      }

      @include respond(phone) {
        height: 15rem;
        width: 15rem;
      }

    }

    &--text {
      padding: 1rem;
      margin-left: 22rem;

      @include respond(tab-large) {
        margin-left: 19rem;
      }

      @include respond(phone) {
        margin-left: 15rem;
      }
    }

    &--container {
      display: block;
    }

    &--name {
      display: inline-block;
      padding: .5rem;

      @include respond(phone) {
        font-size: 1.3rem;
      }
    }

    &--type {
      float: right;
      padding: .5rem;
      color: $color-default-green;

      @include respond(phone) {
        font-size: 1.3rem;
      }
    }

    &--p {
      display: inline-block;
      padding: .5rem;

      @include respond(phone) {
        font-size: 1.3rem;
      }
    }

    &--quantity {
      padding: .5rem;
      float: right;

      @include respond(phone) {
        font-size: 1.3rem;
      }
    }
  }
}
