
.input-form {
  padding: 20px;
}

.input-field {
  display: block;
  margin: 20px 0;
  padding: 10px 15px;
  width: 400px;
  font-size: 15px;
  border: 1px solid #555;
  outline: none;
  transition: all 0.3s;
}

.input-field:hover {
  border: 1px solid #55c57a;
}

.input-field:focus {
  border: 1px solid #55c57a;
  background-color: #e8ffe3;
}

.postForm-text {
  font-size: 35px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
