@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(4rem); }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes animateScale {
  0% {
    transform: scale(0.4); }
  75% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 30em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  padding: 2rem;
  color: #fff; }
  @media (max-width: 56.25em) {
    body {
      padding: 0rem; } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 4rem;
  text-align: left; }
  .heading-primary--main {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 3rem;
        animation: none; } }
    @media (max-width: 30em) {
      .heading-primary--main {
        letter-spacing: .7rem;
        font-size: 3.5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .74rem;
    color: #1890ff;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-in; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem;
        font-size: 1.7rem;
        animation: none; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.heading-h4 {
  font-size: 1.6rem;
  font-weight: 500; }

/*  SECTIONS  ============================================================================= */
.section {
  clear: both;
  padding: 0px;
  margin: 0px; }

/*  GROUPING  ============================================================================= */
.row {
  zoom: 1;
  width: 1400px;
  margin: 0 auto;
  /* For IE 6/7 (trigger hasLayout) */ }
  @media (max-width: 96.875em) {
    .row {
      width: 95%; } }
  @media (max-width: 75em) {
    .row {
      width: 96%; } }
  @media (max-width: 56.25em) {
    .row {
      width: 98%; } }

.row:before,
.row:after {
  content: "";
  display: table; }

.row:after {
  clear: both; }

/*  GRID COLUMN SETUP   ==================================================================== */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%; }

.col:first-child {
  margin-left: 0; }

/* all browsers except IE6 and lower */
/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */
@media only screen and (max-width: 580px) {
  .col {
    /*margin: 1% 0 1% 0%;*/
    margin: 0; } }

/*  GRID OF TWO   ============================================================================= */
.span-2-of-2 {
  width: 100%; }

.span-1-of-2 {
  width: 49.2%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 580px) {
  .span-2-of-2 {
    width: 100%; }
  .span-1-of-2 {
    width: 100%; } }

/*  GRID OF THREE   ============================================================================= */
.span-3-of-3 {
  width: 100%; }

.span-2-of-3 {
  width: 66.13%; }

.span-1-of-3 {
  width: 32.26%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 580px) {
  .span-3-of-3 {
    width: 100%; }
  .span-2-of-3 {
    width: 100%; }
  .span-1-of-3 {
    width: 100%; } }

/*  GRID OF FOUR   ============================================================================= */
.span-4-of-4 {
  width: 100%; }

.span-3-of-4 {
  width: 74.6%; }

.span-2-of-4 {
  width: 49.2%; }

.span-1-of-4 {
  width: 23.8%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 580px) {
  .span-4-of-4 {
    width: 100%; }
  .span-3-of-4 {
    width: 100%; }
  .span-2-of-4 {
    width: 100%; }
  .span-1-of-4 {
    width: 100%; } }

.app {
  background-color: #000; }

.navigation__web {
  padding: 0 1rem;
  height: 7rem; }
  @media (max-width: 75em) {
    .navigation__web {
      display: none; } }
  .navigation__web--logo {
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem; }
    .navigation__web--logo img {
      width: 200px;
      height: 40px; }
  .navigation__web--nav {
    float: right;
    z-index: 1500;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .navigation__web--list {
    list-style: none;
    text-align: center; }
  .navigation__web--item {
    display: inline-block; }
    .navigation__web--item:not(:last-child) {
      margin-right: 2.5rem; }
  .navigation__web--link:link, .navigation__web--link:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    padding: 1rem 2rem;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 230%;
    transition: all 0.4s; }
    .navigation__web--link:link span, .navigation__web--link:visited span {
      margin-right: 1.5rem;
      display: inline-block; }
  .navigation__web--link:hover, .navigation__web--link:active {
    color: #1db954;
    transform: Scale(1.05);
    background-position: 100%; }
  .navigation__web--link-blue {
    color: #1890ff !important; }

.navigation__mobile {
  display: none; }
  @media (max-width: 75em) {
    .navigation__mobile {
      display: block; } }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  text-align: center;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  cursor: pointer; }

.navigation__background {
  text-align: center;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  background-image: radial-gradient(#7ed56f, #28b485);
  top: 6.5rem;
  right: 6.5rem;
  z-index: 1000;
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  opacity: 0;
  width: 0; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.navigation__item:not(:last-child) {
  margin-bottom: 2.5rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  padding: 1rem 2rem;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;
  transition: all 0.4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  color: #55c57a;
  transform: translateX(1rem);
  background-position: 100%; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(100); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block;
    transition: all .2s; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0; }
  .navigation__icon::after {
    top: -.8rem; }
  .navigation__icon::before {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: 1rem; }

.navigation__button:hover .navigation__icon::after {
  top: -1rem; }

.navigation__checkbox:checked ~ .navigation__button .navigation__icon {
  background-color: transparent; }
  .navigation__checkbox:checked ~ .navigation__button .navigation__icon::before {
    transform: rotate(135deg);
    top: 0; }
  .navigation__checkbox:checked ~ .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(51, 51, 51, 0.4), rgba(0, 0, 0, 0.7)), url("header__background.jpeg");
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  @media (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem;
    width: auto; }
  .header__block {
    position: relative;
    text-align: center;
    height: 95vh;
    margin-bottom: 5rem; }
    @media (max-width: 37.5em) {
      .header__block {
        height: 45vh; } }
  .header__text-box {
    position: absolute;
    top: 20%;
    margin-left: 5rem;
    text-align: center; }
    @media (max-width: 37.5em) {
      .header__text-box {
        margin: 0 auto;
        padding: 1rem; } }
  .header__img {
    width: 100%;
    height: auto; }
    @media (max-width: 37.5em) {
      .header__img {
        width: 50%;
        height: auto; } }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 5rem;
  border-radius: .5rem;
  transition: transform 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }
  @media (max-width: 37.5em) {
    .btn, .btn:link, .btn:visited {
      padding: 1rem 3rem; } }

.btn:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: .5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation-name: moveInBottom;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  animation-delay: .75s;
  animation-fill-mode: backwards; }

.btn--white {
  background-color: white;
  color: #777; }
  .btn--white::after {
    background-color: white; }

.btn--green {
  background-color: #1db954;
  color: #fff; }
  .btn--green::after {
    background-color: #1db954; }

.btn--blue {
  background-color: #1890ff;
  color: #fff; }
  .btn--blue::after {
    background-color: #1890ff; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 0.1rem solid #55c57a;
  padding: .3rem;
  transition: all .2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-0.2rem); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(-0.1rem); }

.btn--card {
  margin: 2rem auto;
  font-size: 1.2rem;
  letter-spacing: .2rem;
  padding: 1rem 3rem;
  animation-delay: .2s; }
  @media (max-width: 96.875em) {
    .btn--card {
      margin-bottom: 1rem;
      padding: .8rem 2.5rem; } }
  @media (max-width: 37.5em) {
    .btn--card {
      font-size: 1rem;
      padding: .5rem 2rem;
      margin-bottom: .2rem; } }

.statistics {
  padding: 5rem 0; }
  .statistics__block {
    width: 55%;
    margin: 1rem auto;
    text-align: center; }
  .statistics__list {
    list-style: none;
    border: 2px solid #eee;
    margin: 1rem;
    border-radius: 1rem; }
    .statistics__list :not(:last-child) {
      border-right: 1px solid #f7f7f7; }
      @media (max-width: 75em) {
        .statistics__list :not(:last-child) {
          border-right: none; } }
  .statistics__item {
    display: inline-block;
    padding: 0rem 8rem;
    margin: 4rem 0;
    font-size: 3rem; }
    @media (max-width: 96.875em) {
      .statistics__item {
        padding: 0rem 5rem; } }
    .statistics__item--main {
      display: block;
      font-size: 3rem;
      font-weight: 400;
      letter-spacing: .5rem;
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-in;
      border-right: none  !important; }
      @media (max-width: 37.5em) {
        .statistics__item--main {
          letter-spacing: .3rem;
          font-size: 2rem; } }
      @media (max-width: 30em) {
        .statistics__item--main {
          letter-spacing: .1rem;
          font-size: 1.5rem; } }
    .statistics__item--sub {
      display: block;
      font-size: 1.7rem;
      font-weight: 700;
      letter-spacing: .64rem;
      color: #1890ff;
      animation-name: moveInRight;
      animation-duration: 1s;
      animation-timing-function: ease-in; }
      @media (max-width: 37.5em) {
        .statistics__item--sub {
          letter-spacing: .2rem;
          font-size: 1rem; } }

.section__block {
  position: relative;
  text-align: center; }

.section__text-box {
  margin-left: 5rem;
  text-align: center; }
  @media (max-width: 30em) {
    .section__text-box {
      margin: 0 auto;
      padding: 1rem; } }

.section__text-box {
  padding: 5rem;
  margin: 0 auto; }
  @media (max-width: 56.25em) {
    .section__text-box {
      padding: 3rem; } }
  @media (max-width: 37.5em) {
    .section__text-box {
      padding: 2rem; } }

.section__heading-primary--main {
  font-size: 3.5rem;
  letter-spacing: 1rem;
  margin-bottom: 3rem; }
  @media (max-width: 75em) {
    .section__heading-primary--main {
      font-size: 2.8rem;
      letter-spacing: .7rem; } }
  @media (max-width: 56.25em) {
    .section__heading-primary--main {
      font-size: 2.5rem;
      letter-spacing: .5rem; } }
  @media (max-width: 37.5em) {
    .section__heading-primary--main {
      font-size: 2.2rem;
      letter-spacing: .3rem; } }

.section__heading-primary--sub {
  font-size: 2rem;
  letter-spacing: .5rem; }
  @media (max-width: 75em) {
    .section__heading-primary--sub {
      font-size: 1.5rem;
      letter-spacing: .9rem; } }
  @media (max-width: 56.25em) {
    .section__heading-primary--sub {
      font-size: 1.3rem;
      letter-spacing: .5rem; } }
  @media (max-width: 37.5em) {
    .section__heading-primary--sub {
      font-size: 1rem;
      letter-spacing: .3rem; } }

.section__hideButton {
  display: none !important; }

.section__img {
  margin-top: 4rem;
  padding: 2rem;
  width: 55%;
  height: auto; }
  @media (max-width: 75em) {
    .section__img {
      width: 60%;
      margin-top: 1rem; } }
  @media (max-width: 56.25em) {
    .section__img {
      width: 70%; } }

.supply::after {
  content: "";
  display: table;
  clear: both; }

.supply__heading {
  padding: 4rem; }

.supply__button {
  text-align: left; }

.supply__card {
  margin-bottom: 2rem;
  overflow: hidden;
  margin-top: 3rem;
  width: 35%;
  margin-right: 7.5%;
  margin-left: 7.5% !important;
  box-shadow: rgba(255, 255, 255, 0.5) 0px 5px 25px 0px; }
  @media (max-width: 75em) {
    .supply__card {
      width: 45%;
      margin-right: 2.5%;
      margin-left: 2.5% !important; } }
  @media (max-width: 56.25em) {
    .supply__card {
      width: 80%;
      margin-left: 10% !important; } }
  .supply__card--shape {
    float: left; }
  .supply__card--img {
    height: 22rem;
    width: 22rem; }
    @media (max-width: 96.875em) {
      .supply__card--img {
        height: 19rem;
        width: 19rem; } }
    @media (max-width: 37.5em) {
      .supply__card--img {
        height: 15rem;
        width: 15rem; } }
  .supply__card--text {
    padding: 1rem;
    margin-left: 22rem; }
    @media (max-width: 96.875em) {
      .supply__card--text {
        margin-left: 19rem; } }
    @media (max-width: 37.5em) {
      .supply__card--text {
        margin-left: 15rem; } }
  .supply__card--container {
    display: block; }
  .supply__card--name {
    display: inline-block;
    padding: .5rem; }
    @media (max-width: 37.5em) {
      .supply__card--name {
        font-size: 1.3rem; } }
  .supply__card--type {
    float: right;
    padding: .5rem;
    color: #1db954; }
    @media (max-width: 37.5em) {
      .supply__card--type {
        font-size: 1.3rem; } }
  .supply__card--p {
    display: inline-block;
    padding: .5rem; }
    @media (max-width: 37.5em) {
      .supply__card--p {
        font-size: 1.3rem; } }
  .supply__card--quantity {
    padding: .5rem;
    float: right; }
    @media (max-width: 37.5em) {
      .supply__card--quantity {
        font-size: 1.3rem; } }

.input-form {
  padding: 2rem; }
  @media (max-width: 56.25em) {
    .input-form {
      padding: 1.5rem; } }

.input-field {
  display: block;
  margin: 20px 0;
  padding: 10px 15px;
  width: 40rem;
  font-size: 1.5rem;
  border: 1px solid #555;
  outline: none;
  transition: all 0.3s; }
  @media (max-width: 56.25em) {
    .input-field {
      padding: .8rem 1.5rem;
      width: 35rem; } }
  @media (max-width: 37.5em) {
    .input-field {
      padding: .7rem 1.3rem;
      width: 30rem; } }

.input-field:hover {
  border: 1px solid #55c57a; }

.input-field:focus {
  border: 1px solid #55c57a;
  background-color: #e8ffe3; }

.demand::after {
  content: "";
  display: table;
  clear: both; }

.demand__heading {
  padding: 4rem; }

.demand__button {
  text-align: left; }

.demand__card {
  margin-bottom: 2rem;
  overflow: hidden;
  margin-top: 3rem;
  width: 35%;
  margin-right: 7.5%;
  margin-left: 7.5% !important;
  box-shadow: rgba(255, 255, 255, 0.5) 0px 5px 25px 0px; }
  @media (max-width: 75em) {
    .demand__card {
      width: 45%;
      margin-right: 2.5%;
      margin-left: 2.5% !important; } }
  @media (max-width: 56.25em) {
    .demand__card {
      width: 80%;
      margin-left: 10% !important; } }
  .demand__card--shape {
    float: left; }
  .demand__card--img {
    height: 22rem;
    width: 22rem; }
    @media (max-width: 96.875em) {
      .demand__card--img {
        height: 19rem;
        width: 19rem; } }
    @media (max-width: 37.5em) {
      .demand__card--img {
        height: 15rem;
        width: 15rem; } }
  .demand__card--text {
    padding: 1rem;
    margin-left: 22rem; }
    @media (max-width: 96.875em) {
      .demand__card--text {
        margin-left: 19rem; } }
    @media (max-width: 37.5em) {
      .demand__card--text {
        margin-left: 15rem; } }
  .demand__card--container {
    display: block; }
  .demand__card--name {
    display: inline-block;
    padding: .5rem; }
    @media (max-width: 37.5em) {
      .demand__card--name {
        font-size: 1.3rem; } }
  .demand__card--type {
    float: right;
    padding: .5rem;
    color: #1db954; }
    @media (max-width: 37.5em) {
      .demand__card--type {
        font-size: 1.3rem; } }
  .demand__card--p {
    display: inline-block;
    padding: .5rem; }
    @media (max-width: 37.5em) {
      .demand__card--p {
        font-size: 1.3rem; } }
  .demand__card--quantity {
    padding: .5rem;
    float: right; }
    @media (max-width: 37.5em) {
      .demand__card--quantity {
        font-size: 1.3rem; } }

.footer {
  margin-top: 3rem;
  padding: 4rem; }
  .footer__container {
    padding: 2rem; }
    .footer__container--img {
      padding: 5rem;
      width: 100%;
      display: block;
      margin: 0 auto; }
      @media (max-width: 75em) {
        .footer__container--img {
          padding: 2rem; } }
      @media (max-width: 56.25em) {
        .footer__container--img {
          padding: 1rem; } }
      @media (max-width: 37.5em) {
        .footer__container--img {
          width: 60%; } }
    .footer__container--heading {
      font-size: 1.8rem;
      text-transform: capitalize;
      text-align: left;
      letter-spacing: .4rem;
      margin-bottom: 2rem; }
    .footer__container--list {
      list-style: none; }
    .footer__container--item {
      padding: .4rem 0;
      font-size: 1.5rem; }
    .footer__container--item a:link, .footer__container--item a:visited {
      color: inherit;
      background-color: #000;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all .2s; }
    .footer__container--item a:hover, .footer__container--item a:active {
      color: #1db954;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
      transform: rotate(5deg) scale(1.3); }
    .footer__container--item a ion-icon {
      padding: 0 3rem; }
